.u-section-1 .u-sheet-1 {
  min-height: 940px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  width: 619px;
  margin: 70px auto 0;
}

.u-section-1 .u-list-1 {
  margin-top: 114px;
  margin-bottom: 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 7.5px));
  min-height: 1880px;
  grid-gap: 10px;
}

.u-section-1 .u-list-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px;
}

.u-section-1 .u-image-1 {
  height: 223px;
  width: 223px;
  background-image: url("images/successful-old-businessman-suit-glasses-looking-confident.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 23px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-list-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px;
}

.u-section-1 .u-image-2 {
  height: 223px;
  width: 223px;
  background-image: url("images/fashionable-young-redhead-woman-with-braid-tattoo-shoulder-having-rest-indoors.jpg");
  background-position: 24.89% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 23px auto 0;
}

.u-section-1 .u-list-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px;
}

.u-section-1 .u-image-3 {
  height: 223px;
  width: 223px;
  background-image: url("images/business-sucessful-businessman-working-with-laptop-using-computer-smiling-standing.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: 23px auto 0;
}

.u-section-1 .u-list-item-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 10px;
}

.u-section-1 .u-image-4 {
  height: 223px;
  width: 223px;
  background-image: url("images/woman-sitting-sofa-with-laptop-legs.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  margin: 23px auto 0;
}

.u-section-1 .u-list-item-5 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 10px;
}

.u-section-1 .u-image-5 {
  height: 223px;
  width: 223px;
  background-image: url("images/portrait-beautiful-caucasian-woman-laughing-covering-face-with-hand-chuckle-something-funny-express-happy-positive-emotions-white-wall.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  margin: 23px auto 0;
}

.u-section-1 .u-list-item-6 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 10px;
}

.u-section-1 .u-image-6 {
  height: 223px;
  width: 223px;
  background-image: url("images/handsome-businessman-suit-glasses-cross-arms-chest-lookcopy.jpg");
  background-position: 97.05% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  margin: 23px auto 0;
}

.u-section-1 .u-list-item-7 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-7 {
  padding: 10px;
}

.u-section-1 .u-image-7 {
  height: 223px;
  width: 223px;
  background-image: url("images/positive-business-woman-posing-camera-outdoors.jpg");
  background-position: 0% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  margin: 23px auto 0;
}

.u-section-1 .u-list-item-8 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-8 {
  padding: 10px;
}

.u-section-1 .u-image-8 {
  height: 223px;
  width: 223px;
  background-image: url("images/front-view-smiley-elegant-businesswoman-using-laptop-with-copy-space.jpg");
  background-position: 0% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  margin: 23px auto 0;
}

.u-section-1 .u-list-item-9 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-9 {
  padding: 10px;
}

.u-section-1 .u-image-9 {
  height: 223px;
  width: 223px;
  background-image: url("images/front-view-smiley-elegant-businesswoman-using-laptop-with-copy-space.jpg");
  background-position: 0% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  margin: 23px auto 0;
}

.u-section-1 .u-list-item-10 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-10 {
  padding: 10px;
}

.u-section-1 .u-image-10 {
  height: 223px;
  width: 223px;
  background-image: url("images/front-view-smiley-elegant-businesswoman-using-laptop-with-copy-space.jpg");
  background-position: 0% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-11 {
  font-weight: 700;
  margin: 23px auto 0;
}

.u-section-1 .u-list-item-11 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-11 {
  padding: 10px;
}

.u-section-1 .u-image-11 {
  height: 223px;
  width: 223px;
  background-image: url("images/front-view-smiley-elegant-businesswoman-using-laptop-with-copy-space.jpg");
  background-position: 0% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-12 {
  font-weight: 700;
  margin: 23px auto 0;
}

.u-section-1 .u-list-item-12 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-12 {
  padding: 10px;
}

.u-section-1 .u-image-12 {
  height: 223px;
  width: 223px;
  background-image: url("images/front-view-smiley-elegant-businesswoman-using-laptop-with-copy-space.jpg");
  background-position: 0% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-13 {
  font-weight: 700;
  margin: 23px auto 0;
}

.u-section-1 .u-list-item-13 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-13 {
  padding: 10px;
}

.u-section-1 .u-image-13 {
  height: 223px;
  width: 223px;
  background-image: url("images/front-view-smiley-elegant-businesswoman-using-laptop-with-copy-space.jpg");
  background-position: 0% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-14 {
  font-weight: 700;
  margin: 23px auto 0;
}

.u-section-1 .u-list-item-14 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-14 {
  padding: 10px;
}

.u-section-1 .u-image-14 {
  height: 223px;
  width: 223px;
  background-image: url("images/front-view-smiley-elegant-businesswoman-using-laptop-with-copy-space.jpg");
  background-position: 0% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-15 {
  font-weight: 700;
  margin: 23px auto 0;
}

.u-section-1 .u-list-item-15 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-15 {
  padding: 10px;
}

.u-section-1 .u-image-15 {
  height: 223px;
  width: 223px;
  background-image: url("images/front-view-smiley-elegant-businesswoman-using-laptop-with-copy-space.jpg");
  background-position: 0% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-16 {
  font-weight: 700;
  margin: 23px auto 0;
}

.u-section-1 .u-list-item-16 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-16 {
  padding: 10px;
}

.u-section-1 .u-image-16 {
  height: 223px;
  width: 223px;
  background-image: url("images/front-view-smiley-elegant-businesswoman-using-laptop-with-copy-space.jpg");
  background-position: 0% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-17 {
  font-weight: 700;
  margin: 23px auto 0;
}

.u-section-1 .u-list-item-17 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-17 {
  padding: 10px;
}

.u-section-1 .u-image-17 {
  height: 223px;
  width: 223px;
  background-image: url("images/front-view-smiley-elegant-businesswoman-using-laptop-with-copy-space.jpg");
  background-position: 0% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-18 {
  font-weight: 700;
  margin: 23px auto 0;
}

.u-section-1 .u-list-item-18 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-18 {
  padding: 10px;
}

.u-section-1 .u-image-18 {
  height: 223px;
  width: 223px;
  background-image: url("images/front-view-smiley-elegant-businesswoman-using-laptop-with-copy-space.jpg");
  background-position: 0% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-19 {
  font-weight: 700;
  margin: 23px auto 0;
}

.u-section-1 .u-list-item-19 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-19 {
  padding: 10px;
}

.u-section-1 .u-image-19 {
  height: 223px;
  width: 223px;
  background-image: url("images/front-view-smiley-elegant-businesswoman-using-laptop-with-copy-space.jpg");
  background-position: 0% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-20 {
  font-weight: 700;
  margin: 23px auto 0;
}

.u-section-1 .u-list-item-20 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-20 {
  padding: 10px;
}

.u-section-1 .u-image-20 {
  height: 223px;
  width: 223px;
  background-image: url("images/front-view-smiley-elegant-businesswoman-using-laptop-with-copy-space.jpg");
  background-position: 0% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-21 {
  font-weight: 700;
  margin: 23px auto 0;
}

.u-section-1 .u-list-item-21 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-21 {
  padding: 10px;
}

.u-section-1 .u-image-21 {
  height: 223px;
  width: 223px;
  background-image: url("images/front-view-smiley-elegant-businesswoman-using-laptop-with-copy-space.jpg");
  background-position: 0% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-22 {
  font-weight: 700;
  margin: 23px auto 0;
}

.u-section-1 .u-list-item-22 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-22 {
  padding: 10px;
}

.u-section-1 .u-image-22 {
  height: 223px;
  width: 223px;
  background-image: url("images/front-view-smiley-elegant-businesswoman-using-laptop-with-copy-space.jpg");
  background-position: 0% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-23 {
  font-weight: 700;
  margin: 23px auto 0;
}

.u-section-1 .u-list-item-23 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-23 {
  padding: 10px;
}

.u-section-1 .u-image-23 {
  height: 223px;
  width: 223px;
  background-image: url("images/front-view-smiley-elegant-businesswoman-using-laptop-with-copy-space.jpg");
  background-position: 0% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-24 {
  font-weight: 700;
  margin: 23px auto 0;
}

.u-section-1 .u-list-item-24 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-24 {
  padding: 10px;
}

.u-section-1 .u-image-24 {
  height: 223px;
  width: 223px;
  background-image: url("images/front-view-smiley-elegant-businesswoman-using-laptop-with-copy-space.jpg");
  background-position: 0% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-25 {
  font-weight: 700;
  margin: 23px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 875px;
  }

  .u-section-1 .u-list-1 {
    margin-bottom: 5px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 1550px;
  }

  .u-section-1 .u-image-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-2 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-3 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-4 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-5 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-6 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-7 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-8 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-9 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-10 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-11 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-12 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-13 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-14 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-15 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-16 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-17 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-18 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-19 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-20 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-21 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-22 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-23 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-24 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1447px;
  }

  .u-section-1 .u-list-1 {
    margin-bottom: -338px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 4791px;
  }

  .u-section-1 .u-image-1 {
    height: 202px;
    width: 202px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-2 {
    height: 202px;
    width: 202px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-3 {
    height: 202px;
    width: 202px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-4 {
    height: 202px;
    width: 202px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-5 {
    height: 202px;
    width: 202px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-6 {
    height: 202px;
    width: 202px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-7 {
    height: 202px;
    width: 202px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-8 {
    height: 202px;
    width: 202px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-9 {
    height: 202px;
    width: 202px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-10 {
    height: 202px;
    width: 202px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-11 {
    height: 202px;
    width: 202px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-12 {
    height: 202px;
    width: 202px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-13 {
    height: 202px;
    width: 202px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-14 {
    height: 202px;
    width: 202px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-15 {
    height: 202px;
    width: 202px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-16 {
    height: 202px;
    width: 202px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-17 {
    height: 202px;
    width: 202px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-18 {
    height: 202px;
    width: 202px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-19 {
    height: 202px;
    width: 202px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-20 {
    height: 202px;
    width: 202px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-21 {
    height: 202px;
    width: 202px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-22 {
    height: 202px;
    width: 202px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-23 {
    height: 202px;
    width: 202px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-24 {
    height: 202px;
    width: 202px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2607px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-list-1 {
    margin-bottom: -990px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 14471px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2499px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
  }

  .u-section-1 .u-list-1 {
    margin-bottom: -907px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 9197px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 500px;
}

.u-section-2 .u-group-1 {
  width: 747px;
  min-height: 372px;
  margin: 60px auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  height: 50px;
  margin: 30px auto 0;
  padding: 11px 24px 11px 23px;
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    width: 720px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    width: 340px;
  }
}